//
//  Supabase.xcconfig
//  MiChatLite
//
//  Created by Deepu Ramachandran on 14/09/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include? "Supabase.local.xcconfig"
